Repository fluentpos/fluentpos, pull requests merged in 2021-08, with the labels that each got.

#102 Feat: Add API versioning
  docs/adding-extended-attribute-tutorial.md
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/BaseController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/BrandsController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/CategoriesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/BrandExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/CategoryExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/ProductExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ProductsController.cs
  src/server/Modules/Identity/Modules.Identity.Infrastructure/Services/IdentityService.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/BaseController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/ExtendedAttributes/RoleExtendedAttributesController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/ExtendedAttributes/UserExtendedAttributesController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/IdentityController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/RolesController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/TokensController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/UsersController.cs
  src/server/Modules/People/Modules.People/Controllers/BaseController.cs
  src/server/Modules/People/Modules.People/Controllers/CartItemsController.cs
  src/server/Modules/People/Modules.People/Controllers/CartsController.cs
  src/server/Modules/People/Modules.People/Controllers/CustomersController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CartExtendedAttributesController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CartItemExtendedAttributesController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CustomerExtendedAttributesController.cs
  src/server/Shared/Shared.Infrastructure/Controllers/CommonBaseController.cs
  src/server/Shared/Shared.Infrastructure/Extensions/ApplicationBuilderExtensions.cs
  src/server/Shared/Shared.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/server/Shared/Shared.Infrastructure/Shared.Infrastructure.csproj
  src/server/Shared/Shared.Infrastructure/Swagger/Filters/RemoveVersionFromParameterFilter.cs
  src/server/Shared/Shared.Infrastructure/Swagger/Filters/ReplaceVersionWithExactValueInPathFilter.cs
Labels: dotnet-server, feature

#106 Fix: Fix Search Based on Brand and Category
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Queries/GetAllPagedProductsQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Queries/ProductQueryHandler.cs
  src/server/Shared/Shared.DTOs/Catalogs/Products/PaginatedProductFilter.cs
Labels: dotnet-server, enhancement

#110 Chore: Rename queries and responses for getting all entities
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/BrandsController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/CategoriesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ProductsController.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Queries/BrandQueryHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Queries/GetBrandsQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Queries/CategoryQueryHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Queries/GetCategoriesQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Queries/GetProductsQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Queries/ProductQueryHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/BrandProfile.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/CategoryProfile.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/ProductProfile.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Queries/CartQueryHandler.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Queries/GetCartsQuery.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Queries/CustomerQueryHandler.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Queries/GetCustomersQuery.cs
  src/server/Modules/People/Modules.People.Core/Mappings/CartProfile.cs
  src/server/Modules/People/Modules.People.Core/Mappings/CustomerProfile.cs
  src/server/Modules/People/Modules.People/Controllers/CartsController.cs
  src/server/Modules/People/Modules.People/Controllers/CustomersController.cs
  src/server/Shared/Shared.Core/Extensions/AutoMapperProfileExtensions.cs
  src/server/Shared/Shared.Core/Extensions/ServiceCollectionExtensions.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Queries/ExtendedAttributeQueryHandler.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Queries/GetExtendedAttributesQuery.cs
  src/server/Shared/Shared.DTOs/Catalogs/Brands/GetAllPagedBrandsResponse.cs
  src/server/Shared/Shared.DTOs/Catalogs/Brands/GetBrandsResponse.cs
  src/server/Shared/Shared.DTOs/Catalogs/Categories/GetAllPagedCategoriesResponse.cs
  src/server/Shared/Shared.DTOs/Catalogs/Categories/GetCategoriesResponse.cs
  src/server/Shared/Shared.DTOs/Catalogs/Products/GetAllPagedProductsResponse.cs
  src/server/Shared/Shared.DTOs/Catalogs/Products/GetProductsResponse.cs
  src/server/Shared/Shared.DTOs/ExtendedAttributes/GetAllPagedExtendedAttributesResponse.cs
  src/server/Shared/Shared.DTOs/ExtendedAttributes/GetExtendedAttributesResponse.cs
  src/server/Shared/Shared.DTOs/People/Carts/GetAllPagedCartsResponse.cs
  src/server/Shared/Shared.DTOs/People/Carts/GetCartsResponse.cs
  src/server/Shared/Shared.DTOs/People/Customers/GetAllPagedCustomersResponse.cs
  src/server/Shared/Shared.DTOs/People/Customers/GetCustomersResponse.cs
  src/server/Shared/Shared.Infrastructure/Controllers/ExtendedAttributesController.cs
Labels: enhancement

#112 Update: Update client-side ru localization
  src/client/src/assets/i18n/ru.json
Labels: ng-client

#114 Fluentpos 113
  src/client/src/app/core/shared/components/access-denial/access-denial.component.html
  src/client/src/app/core/shared/components/server-error/server-error.component.html
  src/client/src/app/core/shared/components/server-error/server-error.component.scss
  src/client/src/assets/i18n/en.json
Labels: ng-client

#119 User and Role UI
  src/client/src/app/core/api/identity/role-api.service.ts
  src/client/src/app/core/api/identity/user-api.service.ts
  src/client/src/app/core/shared/shared.module.ts
  src/client/src/app/layouts/admin-layout/admin-layout.component.html
  src/client/src/app/modules/admin/identity/components/role/role-form/role-form.component.html
  src/client/src/app/modules/admin/identity/components/role/role-form/role-form.component.scss
  src/client/src/app/modules/admin/identity/components/role/role-form/role-form.component.ts
  src/client/src/app/modules/admin/identity/components/role/role.component.html
  src/client/src/app/modules/admin/identity/components/role/role.component.scss
  src/client/src/app/modules/admin/identity/components/role/role.component.ts
  src/client/src/app/modules/admin/identity/components/user/user-form/user-form.component.html
  src/client/src/app/modules/admin/identity/components/user/user-form/user-form.component.scss
  src/client/src/app/modules/admin/identity/components/user/user-form/user-form.component.ts
  src/client/src/app/modules/admin/identity/components/user/user.component.html
  src/client/src/app/modules/admin/identity/components/user/user.component.scss
  src/client/src/app/modules/admin/identity/components/user/user.component.ts
  src/client/src/app/modules/admin/identity/identity-routing.module.ts
  src/client/src/app/modules/admin/identity/identity.module.ts
  src/client/src/app/modules/admin/identity/models/role.ts
  src/client/src/app/modules/admin/identity/models/roleParams.ts
  src/client/src/app/modules/admin/identity/models/user.ts
  src/client/src/app/modules/admin/identity/models/userParams.ts
  src/client/src/app/modules/admin/identity/services/role.service.ts
  src/client/src/app/modules/admin/identity/services/user.service.ts
Labels: feature, ng-client

#121 Improvement: Improve Change Tracking
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Events/BrandRegisteredEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Events/BrandRemovedEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Events/BrandUpdatedEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Events/CategoryRegisteredEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Events/CategoryRemovedEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Events/CategoryUpdatedEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Events/ProductRegisteredEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Events/ProductRemovedEvent.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Events/ProductUpdatedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Events/UserLoggedInEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/RoleClaims/Events/RoleClaimAddedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/RoleClaims/Events/RoleClaimDeletedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/RoleClaims/Events/RoleClaimUpdatedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Roles/Events/RoleAddedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Roles/Events/RoleDeletedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Roles/Events/RoleUpdatedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Users/Events/UserDeletedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Users/Events/UserRegisteredEvent.cs
  src/server/Modules/Identity/Modules.Identity.Core/Features/Users/Events/UserUpdatedEvent.cs
  src/server/Modules/Identity/Modules.Identity.Infrastructure/Persistence/IdentityDbContext.cs
  src/server/Modules/People/Modules.People.Core/Features/CartItems/Events/CartItemAddedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/CartItems/Events/CartItemRemovedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/CartItems/Events/CartItemUpdatedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Events/CartCreatedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Events/CartRemovedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Events/CustomerRegisteredEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Events/CustomerRemovedEvent.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Events/CustomerUpdatedEvent.cs
  src/server/Shared/Shared.Core/Domain/Event.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Events/ExtendedAttributeAddedEvent.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Events/ExtendedAttributeRemovedEvent.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Events/ExtendedAttributeUpdatedEvent.cs
  src/server/Shared/Shared.Infrastructure/Extensions/ModuleDbContextExtensions.cs
  src/server/Shared/Shared.Infrastructure/Persistence/ModuleDbContext.cs
Labels: bug, dotnet-server, enhancement

#123 Add some improvements
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/BrandsController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/CategoriesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/BrandExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/CategoryExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ExtendedAttributes/ProductExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog.Controllers/Controllers/ProductsController.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Constants/CatalogCacheKeys.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Commands/BrandCommandHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Brands/Queries/GetBrandByIdQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Commands/CategoryCommandHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Categories/Queries/GetCategoryByIdQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Commands/ProductCommandHandler.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Features/Products/Queries/GetProductByIdQuery.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/BrandProfile.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/CategoryProfile.cs
  src/server/Modules/Catalog/Modules.Catalog.Core/Mappings/ProductProfile.cs
  src/server/Modules/Catalog/Modules.Catalog.Infrastructure/Services/ProductService.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/ExtendedAttributes/RoleExtendedAttributesController.cs
  src/server/Modules/Identity/Modules.Identity/Controllers/ExtendedAttributes/UserExtendedAttributesController.cs
  src/server/Modules/People/Modules.People.Core/Constants/PeopleCacheKeys.cs
  src/server/Modules/People/Modules.People.Core/Features/CartItems/Commands/CartItemCommandHandler.cs
  src/server/Modules/People/Modules.People.Core/Features/CartItems/Queries/GetCartItemByIdQuery.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Commands/CartCommandHandler.cs
  src/server/Modules/People/Modules.People.Core/Features/Carts/Queries/GetCartByIdQuery.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Commands/CustomerCommandHandler.cs
  src/server/Modules/People/Modules.People.Core/Features/Customers/Queries/GetCustomerByIdQuery.cs
  src/server/Modules/People/Modules.People.Core/Mappings/CartItemProfile.cs
  src/server/Modules/People/Modules.People.Core/Mappings/CartProfile.cs
  src/server/Modules/People/Modules.People.Core/Mappings/CustomerProfile.cs
  src/server/Modules/People/Modules.People/Controllers/CartItemsController.cs
  src/server/Modules/People/Modules.People/Controllers/CartsController.cs
  src/server/Modules/People/Modules.People/Controllers/CustomersController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CartExtendedAttributesController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CartItemExtendedAttributesController.cs
  src/server/Modules/People/Modules.People/Controllers/ExtendedAttributes/CustomerExtendedAttributesController.cs
  src/server/Shared/Shared.Core/Attributes/SwaggerExcludeAttribute.cs
  src/server/Shared/Shared.Core/Behaviors/CachingBehavior.cs
  src/server/Shared/Shared.Core/Constants/CacheKeys.cs
  src/server/Shared/Shared.Core/Extensions/AutoMapperProfileExtensions.cs
  src/server/Shared/Shared.Core/Features/Common/Filters/GetByIdCacheableFilter.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Commands/ExtendedAttributeCommandHandler.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Queries/GetExtendedAttributeByIdQuery.cs
  src/server/Shared/Shared.Core/Shared.Core.csproj
  src/server/Shared/Shared.Infrastructure/Controllers/ExtendedAttributesController.cs
  src/server/Shared/Shared.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/server/Shared/Shared.Infrastructure/Middlewares/GlobalExceptionHandler.cs
  src/server/Shared/Shared.Infrastructure/Swagger/Filters/SwaggerExcludeFilter.cs
Labels: dotnet-server, enhancement

#125 Role and Permissions
  src/client/src/app/core/api/identity/role-api.service.ts
  src/client/src/app/core/shared/components/table/table.component.html
  src/client/src/app/core/shared/components/table/table.component.ts
  src/client/src/app/modules/admin/identity/components/role/permission-form/permission-form.component.html
  src/client/src/app/modules/admin/identity/components/role/permission-form/permission-form.component.scss
  src/client/src/app/modules/admin/identity/components/role/permission-form/permission-form.component.ts
  src/client/src/app/modules/admin/identity/components/role/role-form/role-form.component.html
  src/client/src/app/modules/admin/identity/components/role/role-form/role-form.component.ts
  src/client/src/app/modules/admin/identity/components/role/role.component.html
  src/client/src/app/modules/admin/identity/components/role/role.component.ts
  src/client/src/app/modules/admin/identity/identity.module.ts
  src/client/src/app/modules/admin/identity/models/permission.ts
  src/client/src/app/modules/admin/identity/services/role.service.ts
Labels: feature, ng-client

#142 Chore: Code clean up
  src/server/.editorconfig
  src/server/Modules/Sales/Modules.Sales.Core/Entities/Order.cs
  src/server/Modules/Sales/Modules.Sales.Core/Entities/Product.cs
  src/server/Modules/Sales/Modules.Sales.Core/Entities/Transaction.cs
  src/server/Modules/Sales/Modules.Sales.Core/Enums/PaymentType.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/RegisterSaleCommand.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/RegisterSaleCommandHandler.cs
  src/server/Modules/Sales/Modules.Sales.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/server/Modules/Sales/Modules.Sales.Infrastructure/Persistence/SalesDbContext.cs
  src/server/Shared/Shared.Core/Domain/Event.cs
  src/server/Shared/Shared.Core/Features/ExtendedAttributes/Queries/ExtendedAttributeQueryHandler.cs
  src/server/Shared/Shared.Infrastructure/Swagger/Filters/ReplaceVersionWithExactValueInPathFilter.cs
  src/server/fluentpos.ruleset
Labels: enhancement

#143 Fix: Fix stylecop issue in vs code
  src/server/API/Bootstrapper.csproj
  src/server/Directory.Build.props
  src/server/FluentPOS.sln
  src/server/Modules/Accounting/Modules.Accounting.Core/Modules.Accounting.Core.csproj
  src/server/Modules/Accounting/Modules.Accounting.Infrastructure/Modules.Accounting.Infrastructure.csproj
  src/server/Modules/Accounting/Modules.Accounting/Modules.Accounting.csproj
  src/server/Modules/Catalog/Modules.Catalog.Core/Modules.Catalog.Core.csproj
  src/server/Modules/Catalog/Modules.Catalog.Infrastructure/Modules.Catalog.Infrastructure.csproj
  src/server/Modules/Catalog/Modules.Catalog/Controllers/BaseController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/BrandsController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/CategoriesController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/ExtendedAttributes/BrandExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/ExtendedAttributes/CategoryExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/ExtendedAttributes/ProductExtendedAttributesController.cs
  src/server/Modules/Catalog/Modules.Catalog/Controllers/ProductsController.cs
  src/server/Modules/Catalog/Modules.Catalog/Extensions/ModuleExtensions.cs
  src/server/Modules/Catalog/Modules.Catalog/Modules.Catalog.csproj
  src/server/Modules/Identity/Modules.Identity.Core/Modules.Identity.Core.csproj
  src/server/Modules/Identity/Modules.Identity.Infrastructure/Modules.Identity.Infrastructure.csproj
  src/server/Modules/Identity/Modules.Identity/Modules.Identity.csproj
  src/server/Modules/Inventory/Modules.Inventory.Core/Modules.Inventory.Core.csproj
  src/server/Modules/Inventory/Modules.Inventory.Infrastructure/Modules.Inventory.Infrastructure.csproj
  src/server/Modules/Inventory/Modules.Inventory/Modules.Inventory.csproj
  src/server/Modules/People/Modules.People.Core/Modules.People.Core.csproj
  src/server/Modules/People/Modules.People.Infrastructure/Modules.People.Infrastructure.csproj
  src/server/Modules/People/Modules.People/Modules.People.csproj
  src/server/Modules/Sales/Modules.Sales.Core/Modules.Sales.Core.csproj
  src/server/Modules/Sales/Modules.Sales.Infrastructure/Modules.Sales.Infrastructure.csproj
  src/server/Modules/Sales/Modules.Sales/Modules.Sales.csproj
  src/server/Shared/Shared.Core/Shared.Core.csproj
  src/server/Shared/Shared.DTOs/Shared.DTOs.csproj
  src/server/Shared/Shared.Infrastructure/Shared.Infrastructure.csproj
Labels: enhancement, dotnet-server

#154 Chore: Code clean up
  src/server/Modules/People/Modules.People.Infrastructure/Services/CartService.cs
  src/server/Modules/Sales/Modules.Sales.Core/Abstractions/ISalesDbContext.cs
  src/server/Modules/Sales/Modules.Sales.Core/Entities/Order.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/RegisterSaleCommand.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/SaleCommandHandler.cs
  src/server/Modules/Sales/Modules.Sales.Core/Mappings/ProductProfile.cs
  src/server/Modules/Sales/Modules.Sales.Infrastructure/Persistence/SalesDbContext.cs
  src/server/Shared/Shared.Core/IntegrationServices/People/ICartService.cs
Labels: dotnet-server

#160 Chore: Code clean up
  src/server/Modules/Identity/Modules.Identity.Core/Abstractions/IUserService.cs
  src/server/Modules/Identity/Modules.Identity.Infrastructure/Services/UserService.cs
  src/server/Shared/Shared.DTOs/Identity/Users/UserRolesResponse.cs
Labels: dotnet-server

#172 Chore: Code clean up
  src/server/Modules/Inventory/Modules.Inventory.Core/Abstractions/IInventoryDbContext.cs
  src/server/Modules/Inventory/Modules.Inventory.Core/Entities/Stock.cs
  src/server/Modules/Inventory/Modules.Inventory.Core/Entities/StockTransaction.cs
  src/server/Modules/Inventory/Modules.Inventory.Core/Enums/TransactionType.cs
  src/server/Modules/Inventory/Modules.Inventory.Core/Exceptions/InventoryException.cs
  src/server/Modules/Inventory/Modules.Inventory.Core/Extensions/ServiceCollectionExtensions.cs
  src/server/Modules/Inventory/Modules.Inventory.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/server/Modules/Inventory/Modules.Inventory.Infrastructure/Persistence/InventoryDbContext.cs
  src/server/Modules/Inventory/Modules.Inventory.Infrastructure/Services/StockService.cs
  src/server/Modules/Inventory/Modules.Inventory/Extensions/ModuleExtensions.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/SaleCommandHandler.cs
  src/server/Shared/Shared.Core/IntegrationServices/Inventory/IStockService.cs
Labels: enhancement, dotnet-server

#173 Chore: Code clean up
  src/server/Modules/Inventory/Modules.Inventory.Infrastructure/Services/StockService.cs
  src/server/Modules/Sales/Modules.Sales.Core/Entities/Order.cs
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/SaleCommandHandler.cs
  src/server/Shared/Shared.Core/Entities/EntityReference.cs
  src/server/Shared/Shared.Core/IntegrationServices/Application/IEntityReferenceService.cs
  src/server/Shared/Shared.Core/Interfaces/IApplicationDbContext.cs
  src/server/Shared/Shared.Infrastructure/Persistence/ApplicationDbContext.cs
  src/server/Shared/Shared.Infrastructure/Services/EntityReferenceService.cs
Labels: enhancement, dotnet-server

#174 Chore: Code clean up
  src/server/Modules/Sales/Modules.Sales.Core/Features/Sales/Commands/SaleCommandHandler.cs
  src/server/Shared/Shared.Infrastructure/Services/EntityReferenceService.cs
Labels: enhancement, dotnet-server
